## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Jawhar,SO,75.97,clear sky,2.78,45.50,cosoble spare parts
1,14,Butaritari,KI,81.12,overcast clouds,3.07,172.79,Isles Sunset Lodge
2,16,Hithadhoo,MV,83.05,clear sky,-0.60,73.08,Scoop Guest House
3,26,Banda Aceh,ID,80.35,overcast clouds,5.56,95.32,OYO 884 Rumoh PMI Hotel
4,29,Cabo San Lucas,MX,81.00,clear sky,22.89,-109.91,Hotel Tesoro Los Cabos

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [4]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

In [5]:
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
locations.head(10)

     Lat     Lng
0   2.78   45.50
1   3.07  172.79
2  -0.60   73.08
3   5.56   95.32
4  22.89 -109.91
5  -8.90  -35.15
6 -27.18  151.27
7  -8.84   13.23
8  12.00    8.52
9  -8.10  156.84

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(37.5, -121.0), zoom_level=6.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Laguna"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="San Francisco"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="San Jose"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Morro Bay"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Laguna"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
60,238,Laguna,US,79.0,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start(["Lat"],["Lng"]).to_numpy()

TypeError: 'DataFrame' object is not callable

In [ ]:
stop1 = vacation_stop1("Lat","Lng").to_numpy()
stop2 = vacation_stop2("Lat","Lng").to_numpy()
stop3 = vacation_stop3("Lat","Lng").to_numpy()
end = vacation_end("Lat","Lng").to_numpy()

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_stop1 = gmaps.directions_layer(start, stop1, travel_mode="DRIVING")
stop1_stop2 = gmaps.directions_layer(stop1, stop2, travel_mode="DRIVING")
stop2_stop3 = gmaps.directions_layer(stop2, stop3, travel_mode="DRIVING")
stop3_end = gmaps.directions_layer(stop3, end, travel_mode="DRIVING")

# Add layers
fig.add_layer(start_stop1)
fig.add_layer(stop1_stop2)
fig.add_layer(stop2_stop3)
fig.add_layer(stop3_end)

# Show figure
fig

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([,stop1,stop2,stop3],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(37.5, -121), zoom_level=6.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig